body{
    background-color: #fce4b4;
    @font-face {
        font-family: 'Open Sans';
        src: url('fuente/kongtext.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
      }
}

/* Todo el HTML */

html{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Cuadro negro FERREMAX */

.ferre{
    display: flex;
}

/* Hipervinculos Container */

.head{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 10%;
}

/* Hipervinculos */

.head li{
    list-style: none;
    padding-left: 20px;
}

/* Icnono sesion */

.nes-avatar{
    margin-left: 15px;
}

/* Iluminiacion */

.cuadrado1, .cuadrado2, .cuadrado3, .cuadrado4{
    margin-top: 2%;
}

.nes-container.with-title > .title {
    display: table;
    padding: 0 0.5rem;
    margin: -1.8rem 0 1rem;
    font-size: 1rem;
    background-color: rgb(255, 251, 0);
}

.slots{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.slot1, .slot2, .slot3, .slot4, .slot5, .slot6, .slot7, .slot8{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-self: center;
}

.abajo{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-self: center;
    margin-top: 10%;
}

.nes-container.is-dark.iluminacion, .nes-container.is-dark.adhesivos{
    position: relative;
    margin: 4px;
    color: rgb(255, 255, 255);
    background-image: url(https://media.istockphoto.com/vectors/pixel-art-dithering-gradient-color-vector-id1279840158?k=20&m=1279840158&s=170667a&w=0&h=EBfPKQC8Zc5a1r5DuTmCjd227b1M_baoCnwiiHeu-SM=);
    background-repeat:no-repeat;
    background-size: 100%;
    border-color: rgb(71, 58, 189);
}

.nes-container.is-dark.herramientas, .nes-container.is-dark.tuberias{
    position: relative;
    margin: 4px;
    color: rgb(255, 255, 255);
    background-image: url(https://media.istockphoto.com/vectors/pixel-art-dithering-gradient-color-vector-id1279840017?k=20&m=1279840017&s=170667a&w=0&h=Qd1wdF_vf3_MtOpY09-ADtwbGeMV6FP1t41JAiALMAg=);
    background-repeat:no-repeat;
    background-size: 100%;
    border-color: rgb(71, 58, 189);
}

.slot1 p, .slot2 p, .slot3 p, .slot4 p, .slot5 p, .slot6 p, .slot7 p, .slot8 p{
    margin-top: 5%;
}

/* Footer */

.pie{
    background-color: black;
}

.redes{
    display: grid;
    justify-content: center;

}

.caja{
    display: flex;
    margin-bottom: 2%;
}

.caja p{
    margin-top: 4%;
    width: 85%;
}

.caja img{
    width: 20%;
    height: 10%;
    margin-top: 2%;
}

.redes{
    margin-top: 3%;
}

.nosotros{
    margin-left: 0%;
    width:400px;
    height:400px;
    display:grid;
    grid-template-columns: 590px 590px;
    grid-row: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 2%;
}

.grupo{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.destacados{
    font-size: 39px;
}

.nosotros{
    font-display: flex;
}

.cart-container {
    border:1px solid #000000;
    border-radius:5px;
    margin-top:1em;
    padding:1em;
  }
  
  button, input[type="submit"] { 
      border:1px solid #FA6900; 
      color:#fff; 
      background: #F38630; 
      padding:0.6em 1em;
      font-size:1em; 
      line-height:1; 
      border-radius: 1.2em;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
      background: #A7DBD8;
      border-color:#69D2E7;
      color:#000;
      cursor: pointer;
  }
  table {
    margin-bottom:1em;
    border-collapse:collapse;
  }
  table td, table th {
    text-align:left;
    padding:0.25em 1em;
    border-bottom:1px solid #E0E4CC;
  }
  #carttotals {
    margin-right:0;
    margin-left:auto;
  }
  .cart-buttons {
    width:auto;
    margin-right:0;
    margin-left:auto;
    display:flex;
    justify-content:flex-end;
    padding:1em 0;
  }
  #emptycart {
    margin-right:1em;
  }
  table td:nth-last-child(1) {
    text-align:right;
  }
  .message {
    border-width: 1px 0px;
    border-style:solid;
    border-color:#A7DBD8;
    color:#679996;
    padding:0.5em 0;
    margin:1em 0;
  }

.box{
    display: flex;
}

.nosotros{
    margin-left: 0%;
    width:400px;
    height:400px;
    display:grid;
    grid-template-columns: 590px 590px;
    grid-row: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 2%;
}

.grupo{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
  
.imgRedonda {
    border-radius:150px;
}

.iconos{
    margin-left: 6%;
}